{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de pacientes <a class="btn btn-primary btn-lg" href="{{ path('paciente_new') }}" rold="button">Crear nuevo Paciente</a></h1>
	
    <div class="table-responsive"> 

    <table class="records_list table table-striped table-bordered">
        <thead>
            <tr>
                <th>Rut</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>E-mail</th>
                <th>Dirección</th>
                <th>Sexo</th>
                <th>Tipo</th>
                <th>Fecha de Nacimiento</th>
                <th>Lateralidad</th>
				<th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
				<td>{{ entity.Rut }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.sexo }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.fechanac|date('m-d-Y') }}</td>
                <td>{{ entity.lateralidad }}</td>
                <td style="text-align: center; vertical-align: middle;">
                <ul style="list-style-type: none;">
                    <li>
                        <a class="btn btn-default btn-xs" href="{{ path('paciente_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a class="btn btn-default btn-xs" href="{{ path('paciente_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
