{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear paciente</h1>

    {{ form_start(form) }}
    	<div class="form-group">
    		{{ form_row(form.rut, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(form.nombres, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(form.apellidos, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(form.telefono, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    	</div>
		<div class="form-group">
    		{{ form_row(form.direccion, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(form.sexo, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(form.tipo, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(form.fechanac, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_row(form.lateralidad, {'attr': {'class': 'form-control'}}) }}
    	</div>
    	<div class="form-group">
    		{{ form_widget(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
    	</div>
    {{ form_end(form) }}

{% endblock %}
