{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Paciente</h1>
 <div class="table-responsive">
        <table class="record_properties table">
        <tbody>
            <tr>
                <th>Rut</th>
                <td>{{ entity.rut }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Teléfono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Dirección</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ entity.sexo }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Fecha de nacimiento</th>
                <td>{{ entity.fechanac |date('d-m-Y')}}</td>
            </tr>
            <tr>
                <th>Lateralidad</th>
                <td>{{ entity.lateralidad }}</td>
            </tr>
        </tbody>
    </table>
        <a class="btn btn-primary btn-lg" href="{{ path('paciente') }}" rold="button">
            Volver a la lista
        </a>
        <a class="btn btn-primary btn-lg" href="{{ path('paciente_edit', { 'id': entity.id }) }}"  rold="button">
            Editar
        </a>
	</div>

{% endblock %}
