{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista de fichas clinicas<a class="btn btn-primary btn-lg" href="{{ path('ficha_new') }}" rold="button">Crear nueva ficha</a></h1>

    <table  class="records_list table table-striped table-bordered">
        <thead>
            <tr>
				<th>Rut paciente</th>
				<th>Nombre paciente</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.paciente.rut }}</td>
				<td>{{ entity.paciente.nombres }} {{ entity.paciente.apellidos }}</td>
                <td style="text-align: center; vertical-align: middle;">
                <ul style="list-style-type: none;">
                    <li>
                        <a class="btn btn-default btn-xs" href="{{ path('ficha_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a class="btn btn-default btn-xs" href="{{ path('ficha_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
